/* VARIABLES -OPEN*/
:root {
  --TXTCOLOR: whitesmoke;
  --FIRSTGRCOLOR: #143444;
  --SECONDGRCOLOR: #012537;
  --BANNERCOLORFIRST: #417894;
  --BANNERCOLORSECOND: #537f96;
  --BACKCOLORFRONTPAGE: papayawhip;
  --HIGHLIGHTCOLOR: #0e3f57; /* HOVER COLOR */
  --BACKCOLOR: #f5f5f5;
  --DROPDOWNHIGHLIGHTCOLOR: #d7d6d6;
  --MODALBORDERCOLOR: rgba(108, 162, 187, 0.7);
  --PROJECTCOLORONE: rgb(211, 138, 138);
  --PROJECTCOLORTWO: rgb(213, 137, 220);
  --PROJECTCOLORTHREE: rgb(156, 188, 128);
  --PROJECTCOLORFOUR: rgb(84, 114, 125);
}
/* VARIABLES -CLOSE*/

/*RESET -OPEN*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--TXTCOLOR);
  border: none;
}
p {
  font-size: 1rem;
}

h2 {
  font-size: 2rem !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--TXTCOLOR);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--BACKCOLOR);
}

a {
  display: block;
}

ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

.p-dropdown-modal:hover {
  cursor: pointer;
}

/*RESET -CLOSE*/

/* BACKGROUND IMAGES FOR LOGIN PAGE -OPEN*/
.login-page {
  width: min(30vh, 500px);
  height: auto;
  position: absolute;
  z-index: -1;
}

.too-do {
  top: 120px;
  left: 130px;
}

.check {
  bottom: 70px;
  right: 240px;
}

.team {
  bottom: 470px;
  right: 540px;
}

.time {
  width: min(35vh, 500px);
  height: auto;
  bottom: 170px;
  left: 300px;
}

.collab {
  width: min(20vh, 300px);
  height: auto;
  top: 120px;
  right: 130px;
}
/* BACKGROUND IMAGES FOR LOGIN PAGE -CLOSE*/

/* MODALS -OPEN*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.new-project {
  display: none;
}

.add-member {
  display: none;
}

.background {
  display: grid;
  place-content: center;
}

.register {
  height: 650px;
}

.create {
  width: 450px;
  height: 500px;
}

.input-box {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(var(--FIRSTGRCOLOR), var(--SECONDGRCOLOR));
  filter: drop-shadow(0 0 0.25rem black);
  min-height: 400px;
  min-width: 250px;
  border-radius: 0.4rem;
  padding: 1rem;
  align-items: center;
}

.input-box h2 {
  padding: 1rem;
  border-bottom: 4px double var(--TXTCOLOR);
}

.input-box form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 85%;
}

form button,
form input,
form p {
  margin: 1rem 0;
}

form input,
form button {
  height: 10%;
  font-size: 1rem;
  color: var(--TXTCOLOR);
}

input {
  text-align: left;
  padding: 0.45rem;
  background-color: transparent;
  border-bottom: 1px solid var(--TXTCOLOR);
}

form button {
  text-align: center;
  background-color: var(--FIRSTGRCOLOR);
  padding: 0.7rem;
  border-radius: 0.4rem;
  border: 1px solid var(--TXTCOLOR);
}

/* MODALS -CLOSE*/

/* ERROR HANDELERS -OPEN*/
.error-message-container {
  min-height: 60px;
  width: 100%;
  text-align: center;
}

.error-message {
  display: none;
}
/* ERROR HANDELERS -CLOSE*/

/* PSEUDO -OPEN*/
input::placeholder {
  color: var(--TXTCOLOR);
}

form input:hover,
form button:hover,
a:hover,
.search-btn:hover {
  background-color: var(--HIGHLIGHTCOLOR);
}

.dropdown-list-content a:hover,
.sidebar-button:hover {
  background-color: var(--DROPDOWNHIGHLIGHTCOLOR);
}

li:last-child a {
  border: none;
}

.banner-information a:hover {
  background-color: transparent;
}

.button-dropdown:hover,
.a-tag-button:hover {
  background-color: var(--DROPDOWNHIGHLIGHTCOLOR);
}

/* PSEUDO -CLOSE*/

header {
  background-image: linear-gradient(var(--FIRSTGRCOLOR), var(--SECONDGRCOLOR));
  min-height: 50px;
  filter: drop-shadow(0 0 0.25rem black);
}

/* HEADER FOT THE MAIN SITE -OPEN */
.header-profile-picture {
  height: 40px;
  width: auto;
}

.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 50px;
}

.search-header figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;
}

.search-header figure p {
  padding-right: 0.7rem;
  font-size: 1rem;
}

.search-header span {
  display: flex;
  border: 1px solid white;
  border-radius: 0.4rem;
}

.search-header input {
  height: 30px;
  font-size: 1rem;
  border: none;
}

.search-btn {
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.search-btn img {
  width: 100%;
  height: 100%;
}

.search-header h1 {
  padding-left: 4rem;
  font-size: 2.5rem;
}

.profile-options-dropdown {
  display: none;
  position: fixed;
  background-color: var(--SECONDGRCOLOR);
  min-height: 20px;
  width: 160px;
  right: 0;
  top: 70px;
}

.profile-options-dropdown ul li a {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}
/* HEADER FOT THE MAIN SITE -CLOSE */

/* MAIN - OPEN */
main {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.main-content {
  width: 83%;
}

.main-content h2 {
  color: black;
  text-align: center;
  margin-top: 3rem;
}
/* MAIN - CLOSE */

/* SIDE BAR -OPEN*/

aside {
  background: linear-gradient(var(--SECONDGRCOLOR), var(--FIRSTGRCOLOR));
  filter: drop-shadow(0px -3px 5px rgba(103, 97, 97, 0.5));
  width: 17%;
  height: 100%;
  z-index: 1;
  flex-grow: 1;
  position: fixed;
  top: 50px;
  left: 0;
}

.sidebar-controls {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: sticky;
}

.sidebar-dropdown-list {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  position: relative;
}

.button-dropdown,
.a-tag-button,
.create-org-button {
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 0.7rem 2rem;
  margin-top: 2rem;
  border-radius: 0.4rem;
  border: 2px solid black;
}

.dropdown-list-content {
  display: none;
  background-color: var(--BACKCOLOR);
  border-radius: 0.4rem;
  border: 2px solid black;
  position: absolute;
  z-index: 999;
}

.dropdown-list-content a {
  font-size: 1rem;
  color: black;
  padding: 0.4rem;
  border-bottom: 1px solid black;
}

.button-dropdown {
  width: 100%;
}

.a-tag-button {
  background-color: var(--BACKCOLOR);
}

.dropdown-list-content {
  width: 100%;
}

.dropdown-list {
  width: 100%;
}

/* SIDE BAR -CLOSE*/

.login-header {
  display: grid;
  place-content: center;
  font-size: 1rem;
  font-weight: bolder;
}

.login-body {
  background-color: var(--BACKCOLORFRONTPAGE);
  display: flex;
}

.login-main {
  display: grid;
  place-content: center;
  flex-grow: 1;
  width: 100vw;
}

/* BANNER - OPEN */

.overview-banner {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    var(--BANNERCOLORFIRST),
    var(--BANNERCOLORSECOND)
  );
  margin-top: 2rem;
  height: 4.5rem;
  align-items: center;
}

.banner-information {
  margin-left: 1.5rem;
}

.banner-information figure {
  display: flex;
  align-items: center;
}

.banner-information a {
  display: inline-block;
  color: var(--TXTCOLOR);
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.banner-buttons {
  display: flex;
}

.banner-buttons button {
  font-size: 1rem;
  background-color: var(--FIRSTGRCOLOR);
  padding: 0.6rem 0.7rem;
  margin-right: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}

.banner-buttons button p {
  margin-right: 8px;
}

.banner-information figure img {
  height: 30px;
  width: auto;
  margin-top: -10px;
}

.banner-information h2 {
  margin: 0;
  margin-left: 1rem;
  display: flex;
  justify-content: left;
  color: var(--TXTCOLOR);
}

.banner-information p {
  color: var(--TXTCOLOR);
}
/* BANNER - OPEN */

/*MAIN BODY ORGANIZATION PAGE - OPEN*/
.no-projects {
  font-size: 1.4rem;
  color: black;
}

/*MAIN BODY ORGANIZATION PAGE - CLOSE*/

/* PROGRES COLUMNS - OPEN */

.card-layout {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.project-card-layout {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: center;
  box-sizing: border-box;
  gap: 3%;
}

.column {
  box-sizing: border-box;
  border-radius: 0.4rem;
  height: fit-content;
  background-color: var(--MODALBORDERCOLOR);
  min-width: 220px;
  display: flex;
  flex-direction: column;
}

.column-label {
  width: 100%;
  flex-shrink: 0;
  min-width: 100%;
  background-color: red;
  background-image: linear-gradient(var(--FIRSTGRCOLOR), var(--SECONDGRCOLOR));
  border-radius: 0.4rem 0.4rem 0.2rem 0.2rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.column-label p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}
/* PROGRES COLUMNS - CLOSE */

/* CARD - OPEN */

.card {
  width: 220px;
  height: 120px;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--BACKCOLOR);
}

.project-card {
  max-width: 17%;
  height: 150px;
  flex: 1 1 17%;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem auto 0 0;
  background-color: var(--FIRSTGRCOLOR);
  color: var(--TXTCOLOR);
  box-sizing: border-box;
}

#project-card-1,
#project-card-3,
#project-card-5,
#project-card-7,
#project-card-9 {
  background-color: var(--PROJECTCOLORONE);
}

.card p {
  color: black;
  padding: 0.1rem;
  margin-top: 0.5rem;
}

.project-card p {
  color: var(--TXTCOLOR);
  margin-top: 0.8rem;
}

.card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-content: left;
}

.card-header h3 {
  margin: auto 0;
  color: black;
}

.project-card h3 {
  color: var(--TXTCOLOR);
  font-size: 1.2rem;
  font-weight: bold;
}

.card-header img {
  height: 20px;
  width: auto;
}
/* CARD - CLOSE */

/* TEAM BANNER - OPEN */

.team-card {
  height: 50px;
  width: 50%;
  background-color: red;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.team-card p {
  padding-left: 10px;
}

.team-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.team-counter {
  height: 50px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 180px;
}

.team-card {
  border-radius: 1rem;
  background-color: var(--FIRSTGRCOLOR);
}

.team-counter p {
  color: black;
  font-size: 1.2rem;
}

.team-counter p {
  color: black;
  font-size: 1.2rem;
}

.p-dropdown-modal {
  padding: 0;
  margin: 1rem 0;
  border: 1px white solid;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.6rem;
}

.modal-dropdown-list-content {
  font-size: 1rem;
  display: none;
  position: absolute;
  z-index: 999;
  background-color: var(--FIRSTGRCOLOR);
  width: 76%;
  border: 1px white solid;
}

.modal-dropdown-list-content li {
  padding: 0.45rem;
  border-bottom: 1px white solid;
}

.team-info {
  display: flex;
  flex-direction: column;
}
/* TEAM BANNER - CLOSE */
