.Notes{
    width: 80%;
    background-color: #568481;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
}

h3
{
    padding-top: 20px;
}
textarea
{
    margin: 3%;
    width: 80%;
    height: 200px;
    background-color: #568481;
    border: none;
}


